#home{
  text-align: center;
  color: rgb(58, 73, 42);
}
#form{
  text-align: center;
  background-color: rgb(112, 120, 119);
}
.container{
  background-color: black;

}
#inform{
    background-color: rgb(112, 120, 119);
    text-align: center;
}
#contact{
  text-align: center;
  background-color: rgb(112, 120, 119);
  color: rgb(58, 73, 42);

}
#email{
  text-align: right;
  color: rgb(58, 73, 42);

}
#mobile{
  text-align: right;
  color: rgb(58, 73, 42);

}
.card{
  margin: auto;
}
#skills{
  text-align: center;
}
#table{
  margin: auto;
}
