{% extends 'loginpage/base.html' %}
{% block body_block %}
<h1 id="skills">Skills I Have</h1>
<div class="container">
  <div class="jumbotron">
    <table id="table" border="1">

      <thead>
        <th>Serial.No</th>
        <th>Skills</th>
        <th>About Course</th>
      </thead>
<tr>
  <td>1</td>
    <td>PYTHON</td>
      <td><p> Python can be easy to pick up whether you're a first time programmer or you're experienced with other languages. The following pages are a useful first step to get on your way writing programs with Python!</p></td>
</tr>
<tr>
  <td>2</td>
    <td>HTML</td>
      <td><p>Hypertext Markup Language (HTML) is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets (CSS) and scripting languages such as JavaScript.</p></td>

</tr>
<tr>
  <td>3</td>
    <td>CSS</td>
      <td><p>CSS is use to Style HTML</p></td>
</tr>
<tr>
  <td>4</td>
    <td>JavaScript</td>
      <td><p>JavaScript (often shortened to JS) is a lightweight, interpreted, object-oriented language with first-class functions, and is best known as the scripting language for Web pages, but it's used in many non-browser environments as well. It is a prototype-based, multi-paradigm scripting language that is dynamic, and supports object-oriented, imperative, and functional programming styles.</p></td>

</tr>
<tr>
  <td>5</td>
    <td>ETHICAL HACKING</td>
      <td><p>Ethical Hacking is an authorized practice of bypassing system security to identify potential data breaches and threats in a network. ... Ethical hackers aim to investigate the system or network for weak points that malicious hackers can exploit or destroy.</p></td>

</tr>
<tr>
  <td>6</td>
    <td>CCNA</td>
      <td><p>CCNA Certification is globally recognized and it is respected by most companies across the globe. CCNA is an abbreviated form of Cisco Certified Network Associate. This certificate is suitable for professionals from networking background. This certificate confirms that the certificate holder has gained the ability to understand, operate, configure and troubleshoot medium-level switched and routed networks. </p></td>

</tr>

    </table>

  </div>

</div>
{% endblock %}
